html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #1138ac;
  text-decoration: none;
}

.codeWrapper {
  background-color: #f4f4f4;
  width: 100%;
  padding: 15px;
  border: 1px solid #e1e1e1;
}

.btn {
  background-color: #139713;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: max-content;
}

.boxedButton {
  border: 1px solid #ccc;
  padding: 1px 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-top: 25px;
}
